/* fonts  */

@font-face {
  font-family: "TAJAWAL-Bold";
  src: local("TAJAWAL-Bold"),
    url("fonts/TAJAWAL-EXTRABOLD.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "TAJAWAL-EXTRALIGHT";
    src: local("TAJAWAL-EXTRALIGHT"),
      url("fonts/TAJAWAL-EXTRALIGHT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'TAJAWAL REGULAR';
    src: local('TAJAWAL REGULAR'), url('fonts/TAJAWAL-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: "TAJAWAL-MEDIUM";
    src: local("TAJAWAL-MEDIUM"),
      url("fonts/TAJAWAL-MEDIUM.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "TAJAWAL-Bold";
    list-style: none;
    text-decoration: none;
  }
  img {
    width: 100%;
  }
  html{
      scroll-behavior: smooth;}
  body {
    direction: rtl;
   
  }

  .container{
    padding: 0 10px ;
  }

  .bg_red{
    background: linear-gradient(to left ,#7A1216,#E51E27);
    color: #fff;
    border-radius: 5px;
    padding: 8px 5px 5px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  .bg_red2{
    background: linear-gradient(to right ,#7A1216,#E51E27);
  }

  #error{
    position: relative;
    top: -14px;
    color: red;
    font-size: 14px;
  }


  .btns{
    text-align: center;
  }
  .btn{
    padding: 13px 40px 8px;
    font-size: 7.5vw;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
  }
  .btn:hover{
    background: linear-gradient(to left ,#600b0e,#ff2934);
  }



  /* Start Home Section */
  .home{
    background: url(img/homesec.jpg);
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .home .container{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 10px 10px 25px;
  }

  .home .container p{
    font-size: 3.8vw;
    margin-bottom: 10px;
  }
  .home .container ul{
    padding-bottom: 10px;
  }
  .home .container ul li{
    color: #fff;
    margin-bottom: 18px;
    font-size: 7vw;
  }


  /* End Home Section */


  .what_do{
    background: url(img/bgabout.png);
    background-size: cover;
    background-position: left top;
  }

  .what_do .top_sec{
    background: #fff;
    text-align: center;
    padding: 8px 0;
  }
  .what_do .top_sec p{
    font-size: 8vw;
  }
  .what_do .top_sec h3{
    font-size: 13vw;
    line-height: 1;
  }

  .what_do .container{
    text-align: center;
    padding-top: 20px;
  }

  .what_do .container .div_img{
    width: 60%;
    margin: auto;
    position: relative;
  }
  .what_do .container .div_img::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
  }
  .what_do .container .text {
    padding: 20px 0;
  }
  .what_do .container .text ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .what_do .container .text ul li{
    width: 48%;
    font-size: 4.4vw;
    margin-bottom: 25px;
    text-align: center;
    padding: 5px 8px;
  }



  /* Start Results */ 

  .results .container{
    background: url(img/result_bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    padding: 50px 10px 22px;
  }
  .results .top_sec{
    background: #fff;
    text-align: center;
    padding: 7px 0;
  }
  .results .top_sec p{
    font-size: 11vw;
  }
  .results .top_sec h3{
    font-size: 5.4vw;
    font-weight: bolder;
  }

  .results .box{
    margin-bottom: 30px;
  }
  .results .box img{
    border: 3px solid #fff;
    border-radius: 4px;
  }

  .results .swiper-container{
    position: relative;
  }
  .results .swpbtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .results .swpbtn{
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .results .swpbtn:hover{
    background: #00000060;
  }
  .results .swpbtn::after{
    font-size: 20px;
    font-weight: bolder;
  }

  .results .box{
    position: relative;
  }
  .results .box .text{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 5px 8px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 6px 6px 1px #29163674;
    width: max-content;
  }
  .results .box .text h4{
    font-size: 5vw;
  }
  .results .box .text p{
    font-size: 3.5vw;
  }


  /* start clint Section */


  .clint{
    padding: 10px 0 10px;
    text-align: center;
    background: url(img/bg-clint.jpg);
    background-position: center;
    background-size: cover;
  }
  .clint h3{
    font-size: 10vw;
    margin-bottom: 20px;
  }
  .clint img{
    width: 90%;
  }

  /*  start small_sec section */

  .small_sec .container{
    position: relative;
  }
  .small_sec .container img{
    position: absolute;
    width: 34%;
    left: 2px;
    top: 5px;
  }
  .small_sec .container .text{
    padding: 20px 0 25px;
  }
  .small_sec .container .text p{
    font-size:4.2vw;
  }


  /* start form_sec */ 


  .form_sec{
    text-align: center;
    padding: 10px 0 10px;
    background: url(img/formBg.jpg);
    background-position: center;
    background-size: cover;
  }
  .form_sec .price{
    padding: 0 0px 15px;
    margin-bottom: 15px;
    position: relative;
  }
  .form_sec .price::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 3px;
    background: #fff;
    border-radius: 30px;
  }

  .form_sec .price h4{
        color: #fff;
        font-size: 10vw;
  }
  .form_sec .price h2{
    font-size: 39vw;
    color: #fff;
    font-family: sans-serif;
    line-height: 0.8;
  }
  .form_sec .price h4 span{
    position: relative;
  }
  .form_sec .price h4 span::after,
  .form_sec .price h4 span::before{
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: #F5EC1A;
  }
  .form_sec .price h4 span::before{
    transform: rotate(35deg);
    background: #F5EC1A;
  }
  .form_sec .price h4 span::after{
    transform: rotate(-35deg);
  }

  .form_sec h5{
    color: #fff;
    font-size: 5.2vw;

  }
  .form_sec h6{
    color: #fff;
    font-size: 6.2vw;
    margin-bottom: 12px;

  }

  .form_sec .sm_p{
    font-size: 2.2vw;
    color: #fff;
    
  }

  .form_sec form{
    background: url(img/bg-clint.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 5px 8px #2a2a2a7d;
  }
  .form_sec form .top_form{
    background: #fff;
    padding: 12px 0 3px;
    margin-bottom: 7px;
    box-shadow: 2px 5px 8px #2a2a2a7d;
  }
  .form_sec form .top_form h3{
    font-size: 8vw;
    font-weight: bolder;
    line-height: 1;
  }
  .form_sec form .top_form p{
    font-weight: bold;
    font-size: 2.8vw;
    margin-top: 3px;

  }

  .form_sec form .inputs{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  .form_sec form .inputs input {
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: right;
  }
  .form_sec form  button{
    border: none;
    outline: none;
    width: 80%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .form_sec .boxs{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .form_sec .boxs .box{
    width: 30%;
    display: flex;
    align-items: center;
  }
  .form_sec .boxs .box2{
    gap: 7px;
  }
  .form_sec .boxs .box img{
    width: 30px;
  }
  .form_sec .boxs .box p{
    color: #fff;
    font-size: 2.6vw;
    font-weight: normal;
  }
















  /* THanks page */

  body.thanks{
    width: 100%;
    height: 100vh;
    background: url(img/formBg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 100px;
    color: #Fff;
  }
  .btnthanks{
    padding: 10px 20px;
   
    transition: 0.3s ease;
  }
  .btnthanks:hover{
    background: #fff;
    color: #7A1216;
  }
  body.thanks h3{
    color: #fff;
    margin-bottom: 10px;
    font-size: 5vw;
  }
  body.thanks h4{
    font-size: 3.5vw;
  }
  .thanks img{
    width: 40%;
    margin-bottom: 30px;
  }
  body.thanks h4{
    margin-bottom: 30px;
  }