
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Swissra-Bold"; */
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
  }
  img {
    width: 100%;
  }
  html{
      scroll-behavior: smooth;}
  body {
    direction: rtl;
   
  }

  .container{
    padding: 0 10px ;
  }

  .bg_red{
    background: linear-gradient(to left ,#7A1216,#E51E27);
    color: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  .bg_red2{
    background: linear-gradient(to right ,#7A1216,#E51E27);
  }


  .btns{
    text-align: center;
  }
  .btn{
    padding: 10px 45px;
    font-size: 8vw;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
  }
  .btn:hover{
    background: linear-gradient(to left ,#600b0e,#ff2934);
  }



  /* Start Home Section */
  .home{
    background: url(img/homesec.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .home .container{
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 10px 10px 30px;
  }

  .home .container p{
    font-size: 5vw;
    margin-bottom: 10px;
  }

  .home .container ul li{
    color: #fff;
    margin-bottom: 20px;
    font-size: 8vw;
  }


  /* End Home Section */


  .what_do{
    background: url(img/about_bg.png);
    background-size: cover;
    background-position: left top;
  }

  .what_do .top_sec{
    background: #fff;
    text-align: center;
    padding: 8px 0;
  }
  .what_do .top_sec p{
    font-size: 8vw;
  }
  .what_do .top_sec h3{
    font-size: 10vw;
    font-weight: bolder;
  }

  .what_do .container{
    text-align: center;
    padding-top: 20px;
  }

  .what_do .container .div_img{
    width: 60%;
    margin: auto;
    position: relative;
  }
  .what_do .container .div_img::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
  }
  .what_do .container .text {
    padding: 20px 0;
  }
  .what_do .container .text ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .what_do .container .text ul li{
    width: 48%;
    font-size: 7vw;
    margin-bottom: 25px;
  }



  /* Start Results */ 

  .results .container{
    background: url(img/result_bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    padding: 50px 10px 30px;
  }
  .results .top_sec{
    background: #fff;
    text-align: center;
    padding: 8px 0;
  }
  .results .top_sec p{
    font-size: 12vw;
  }
  .results .top_sec h3{
    font-size: 6vw;
    font-weight: bolder;
  }

  .results .box{
    margin-bottom: 30px;
  }
  .results .box img{
    border: 3px solid #fff;
    border-radius: 4px;
  }

  .results .swiper-container{
    position: relative;
  }
  .results .swpbtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .results .swpbtn{
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .results .swpbtn:hover{
    background: #00000060;
  }
  .results .swpbtn::after{
    font-size: 20px;
    font-weight: bolder;
  }

  .results .box{
    position: relative;
  }
  .results .box .text{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 6px 6px 1px #29163674;
  }
  .results .box .text h4{
    font-size: 20px;
  }
  .results .box .text p{
    font-size: 16px;
  }